<h1>Welcome to Capture Media's Home Page</h1>


<div id="root_appointments">

<h1>Current Appointments</h1>

</div>

<div><%= button_to 'Sign In', new_user_session_path, class: 'btn btn-primary btn-lg btn-block', method: :get %></div>
<br/>
<div><%= button_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg btn-block', method: :get %></div>
